/*dinamic1 styles*/
.dinamic1-bg {
    background: rgb(57, 94, 148);
    background: linear-gradient(145deg, rgb(57, 94, 148) 0%, rgba(0, 255, 255, 1) 100%);
}

/*dinamic2 styles*/
.dinamic2-bg {
    background: rgb(171, 26, 26);
    background: linear-gradient(1deg, rgba(171, 26, 26, 1) 0%, rgba(255, 171, 0, 1) 100%);
}

.dinamic3-bg {
    background: rgb(29, 138, 71);
    background: linear-gradient(270deg, rgba(29, 138, 71, 1) 0%, rgba(0, 255, 25, 1) 100%);
}

.dinamic4-bg {
    background: rgb(224, 224, 0);
    background: linear-gradient(221deg, rgba(224, 224, 0, 1) 20%, rgba(122, 128, 0, 1) 70%);
}

/*Esses fazem parte das dinamicas da pádina "dinamic5.html".*/

.dark{
    color: white;
    background-color: black;
}